body
{
	background:#f2f2f2;
	color:#333;
	font-family:Arial;
	margin:0;
	position:absolute;
	width:100%;
}

a
{
	color:#09c;
	text-decoration:none;
	border-bottom:1px dashed #09c;
}

img
{
	border:0;
}

.panel
{
	background:#333;
	color:#ccc;
	padding:10px 20px;
}

	.header
	{
		float:left;
	}
	
	.quota
	{
		float:right;
	}

.flyhigh
{
	padding:15px 75px;
	border:3px dashed #ddd;
	cursor:pointer;
}

.flyhigh:hover
{
	border:3px dashed #76BF00;
}

#features
{
	list-style:none;
	margin:0;
	padding:0;
}

	#features li
	{
		display:inline;
		padding:5px;
		font-size:12px;
	}

	.mb
	{
		color:#fff;
		background: #2A9F29;
		box-shadow:0px 2px 2px #114011; 
	}

	.gif
	{
		color:#fff;
		background: #B85111;
		box-shadow:0px 2px 2px #3B1A06; 
	}

	.ani
	{
		color:#fff;
		background: #B0A100;
		box-shadow:0px 2px 2px #332F00; 
	}

	.jpeg
	{
		color:#fff;
		background: #7811B8;
		box-shadow:0px 2px 2px #250538; 
	}

	.png
	{
		color:#fff;
		background: #3689B2;
		box-shadow:0px 2px 2px #122D3B; 
	}

	.webp
	{
		color:#fff;
		background: #004ab0;
		box-shadow:0px 2px 2px #122D3B; 
	}

.main
{
	padding:80px 20px;
	background:url("../img/uploader.webp") no-repeat 50% -150px;
	text-align:center;
}
	
	.image img
	{
		right:10px;
		margin-top:-70px;
		max-width:25%;
		max-height:25%;
		position:absolute;
		
		/* Round center */
		
		/*background-color:#fff;
		background-repeat:no-repeat;
		background-position:center center;
		border-radius:200px;
		display:block;
		left:50%;
		margin-left:-156px;
		position:absolute;
		text-align:center;
		top:-85px;
		width:312px;
		height:300px;*/
	}

	h2
	{
		color:#888;
		font-weight:normal;
		padding-top:120px;
	}
	
	.note
	{
		color:#74a615;
		font-style:italic;
	}
	
	progress
	{
		width:220px;
	}
	
	#progressNumber
	{
		position:absolute;
		margin-left:6px;
		margin-top:-1px;
		font-size:20px;
		color:#888;
	}
	
	.results
	{
		display:none;
	}
	
		textarea
		{
			max-width:50%;
			height:30px;
			padding:10px;
		}
		
		.result
		{
			width:600px;
			text-align:center;
			font-size:120%;
		}

		.result_html
		{
			width:285px;
			height:60px;
		}

		.result_forum
		{
			width:285px;
			height:60px;
		}
		
		.ctrl
		{
			color:#888;
			font-size:120%;
			text-shadow:1px 1px 1px #fff;
		}

	.rules
	{
		color:#999;
		max-width:880px;
		margin:0 auto;
	}

		.rules p
		{
			display:none;
			cursor:pointer;
			user-select: none;
		}

.last
{
	position:fixed;
	bottom:0;
}

.last img
{
	max-height:100px;
	max-width:100px;
}

.clear
{
	clear:both;
}

/**
 * KEYS.css
 *
 * A simple stylesheet for rendering beautiful keyboard-style elements.
 *
 * Author:  Michael Hüneburg
 * Website: http://michaelhue.com/keyscss
 * License: MIT License (see LICENSE.txt)
 */

/* Base style, essential for every key. */
kbd, .key {
	display: inline;
	display: inline-block;
	min-width: 1em;
	padding: .2em .3em;
	font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	border: none;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
kbd[title], .key[title] {
	cursor: help;
}

/* Dark style for display on light background. This is the default style. */
kbd, kbd.dark, .dark-keys kbd, .key, .key.dark, .dark-keys .key {
	background: rgb(80, 80, 80);
	background: -moz-linear-gradient(top, rgb(60, 60, 60), rgb(80, 80, 80));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(60, 60, 60)), to(rgb(80, 80, 80)));
	color: rgb(250, 250, 250);
	text-shadow: -1px -1px 0 rgb(70, 70, 70);
	-moz-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
	-webkit-box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
	box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
}

/* Light style for display on dark background. */
kbd.light, .light-keys kbd, .key.light, .light-keys .key {
	background: rgb(250, 250, 250);
	background: -moz-linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
	color:  rgb(50, 50, 50);
	text-shadow: 0 0 2px rgb(255, 255, 255);
	-moz-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	-webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
	box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
}

.malscan
{
	display: none;
}

.loader
{
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;
}

.loader::after, .loader::before
{
	content: '';
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 2px solid red;
	position: absolute;
	left: 0;
	top: 0;
	animation: animloader 2s linear infinite;
}

.loader::after
{
	animation-delay: 1s;
}

@keyframes animloader
{
	0%
	{
		transform: scale(0);
		opacity: 1;
	}
	100%
	{
		transform: scale(1);
		opacity: 0;
	}
}
