<!doctype html>
<html lang="pl">
<head>
	<title>Image Uploader</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="up - an image uploader">
	<meta name="github:creator" content="c0m4r">
	<meta name="github:website" content="https://github.com/c0m4r/up">
	<meta name="theme-color" content="#116acf">
	<link rel="manifest" href="manifest.json">
	<link rel="icon" type="image/png" href="favicon.ico">
	<link href="css/style.css" rel="stylesheet" media="screen" type="text/css"{% if config.sri %} integrity="{{ sri.stylecss }}" crossorigin="anonymous"{% endif %}>
</head>
<body>
	
	<div class="panel">
		
		<div class="header">Image Uploader</div>
		<div class="quota">{{lang.zajete_miejsce}}: {{space_used_percent}}%</div>
		
		<br class="clear">
		
	</div>
	
	<div class="main">
	
		<div class="image"></div>
	
		<h2>{{lang.wgrywaj_screeny}}</h2>
		
		<form id="form1" enctype="multipart/form-data" method="post" action="./">
		
			<div>
				<input type="hidden" name="MAX_FILE_SIZE" value="{{config.max_filesize}}">
				<input type="file" name="up" id="up" class="flyhigh" accept="image/gif, image/jpeg, image/pjpeg, image/x-png, image/png, image/webp" aria-label="file">
			</div>
			
			<noscript><p>{{lang.wlacz_javascript}}</p></noscript>
			
			<div class="results">
				<p class="ctrl"></p>
				<textarea id="result" class="result"></textarea>
				<br>
				<textarea id="result_html" class="result_html"></textarea>
				<textarea id="result_forum" class="result_forum"></textarea>
			</div>
			
			<p><progress value="0" max="100"></progress> <span id="progressNumber"></span></p>

			{% if loki %}<div class="malscan"><p>Running malware scan, please wait...<br><span class="loader"></span></p></div>{% endif %}

			<div class="info" id="fileInfo"></div>
			
		</form>
		
		<p class="note">{{lang.wybierz_plik}}</p>

		<br>

		<ul id="features">
			<li class="mb">10 MB</li>
			<li class="png">PNG</li>
			<li class="jpeg">JPEG</li>
			<li class="gif">GIF</li>
			<li class="ani">Ani. GIF</li>
			<li class="webp">WebP</li>
		</ul>
		
		<br>
		
		<div class="rules">

		    <div>[ <a href="#" id="ts-a">{{ lang.regulamin }}</a> 
		    | <a href="#" id="pp-a">{{ lang.polityka_prywatnosci }}</a> 
		    | <a href="#" id="ct-a">{{ lang.kontakt }}</a> ]</div>

		   <p id="ts">{{ lang.regulamin_tekst }}</p>
		   <p id="pp">{{ lang.polityka_prywatnosci_tekst }}</p>
		   <p id="ct">{{ lang.kontakt_tekst }}</p>

		</div>
	
	</div>
	
	<div class="last">
	
	</div>
	
	<script src="vendor/components/jquery/jquery.min.js"{% if config.sri %} integrity="{{ sri.jqueryminjs }}" crossorigin="anonymous"{% endif %}></script>
	<script src="js/up.js"{% if config.sri %} integrity="{{ sri.upjs }}" crossorigin="anonymous"{% endif %}></script>
	
</body>
</html>
